/* stylelint-disable at-rule-no-unknown */
/* Tailwind directives are processed by PostCSS with TailwindCSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* stylelint-enable at-rule-no-unknown */

body {
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: "Architects Daughter";
}


/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot")
      format("embedded-opentype"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2")
      format("woff2"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff")
      format("woff"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf")
      format("truetype"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg")
      format("svg");
}

/* BowlbyOneSC/-sc-regular - latin */
@font-face {
  font-family: "Bowlby One SC";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.eot")
      format("embedded-opentype"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff2")
      format("woff2"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff")
      format("woff"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.ttf")
      format("truetype"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.svg")
      format("svg");
}

.headingA {
  -webkit-text-stroke-width: 2.33px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}
.headingG {
  -webkit-text-stroke-width: 0.53px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}

.headingB {
  -webkit-text-stroke-width: 1.33px;
  -webkit-text-stroke-color: #ffcc00;
  font-family: "Architects Daughter";
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  font-family: "Architects Daughter";
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: 800;
}

.headingE {
  -webkit-text-stroke-width: 3.99px;
  -webkit-text-stroke-color: #595959;
  font-family: "Bowlby One SC";
  font-weight: 800;
}

.headingF {
  -webkit-text-stroke-width: 3.66px;
  -webkit-text-stroke-color: #fffffc;
  font-family: "Bowlby One SC";
  font-weight: 800;
}

/* Marquee container styles */
.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Marquee content styles */
.marquee-content {
  display: flex;
  animation: marquee-scroll 30s linear infinite;
  /* Set initial position to the right */
  transform: translateX(100%);
}

/* Marquee gradient styles */
.marquee-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(to left, transparent 0%, white 100%);
  pointer-events: none;
}

/* Keyframes for marquee scrolling animation */
@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.shape-lighthouse {
  shape-margin: 80px;
  float: left;
  shape-outside: url("../public/Assets/Img/lighthouse3.png");
  shape-image-threshold: 0.6;
}

.portraitMick {
  shape-margin: 80px;
  shape-outside: url("../public/Assets/Img/portraitmick.png");
  shape-image-threshold: 0.6;
}

.bg-wohin {
  background-image:
    linear-gradient(
      to bottom,
      rgba(25, 36, 45, 1),
      rgba(0, 0, 255, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/Assets/Img/west-side-story.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-sportarena {
  background-image:
    linear-gradient(
      to bottom,
      rgba(26, 35, 46, 1),
      rgba(0, 0, 0, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/Assets/Img/sportarenawc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 86vw;
}